.slide-fade-enter-active {
    transition: all .3s ease-out;
  }

  .slide-fade-leave-active {
    transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
  }

  .slide-fade-enter-from,
  .slide-fade-leave-to {
    transform: translateX(20px);
    opacity: 0;
  }

  .animate__animated .animate__fadeInUp{
    transition: ease .05s;
  }

//Animation for mobile navigation
.mobile-nav-enter-active,
.mobile-nav-leave-active{
   transition: 1s ease all;
}

.mobile-nav-enter-from,
.mobile-nav-leave-to{
    transform: translateX(-250px);
}

.mobile-nav-enter-to,
.mobile-nav-leave-from{
    transform: translateX(0);
}
