@import './mixins';

.footer{
    background-color: #ffffff;
    display: flex;
    flex-direction: column;

    &__bottom{
        display:flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        padding: 2rem;
        height:15rem;

        @include response(phone){
        flex-direction: column;

        }
    }
}

.projects{
    display: flex;
    justify-content: center;
    // flex-direction: column;

    &__banners{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        height:20rem;
        padding: 1rem;
        width:100%;
        gap:0rem;


        li{
            text-decoration: none;
            list-style: none;
        }

        @include response(tab-port){
            height: 40rem;
            justify-content: space-between;
            gap:5rem;
            width:65rem;
        }

        @include response(phone){
            justify-content: space-around;
            height: 50rem;
            width:100%;
            gap:0rem;
        }
    }

    &__img{
        width:15rem;
        height: auto;
        opacity:.5;
    }
}

.social-links{
    width: 25rem;
    display: flex;
    justify-content: space-evenly;

    .icon{
        font-size:3rem;
    }
}

.copyright{
    font-size: 1.2rem;

    @include response(phone){
        text-align: center;
    }

}