@import './mixins';
@import './variables';


.home-container{
    // margin:1.8rem 0;

    // @include response(tab-land){
    //     margin:3.8rem 0;
    // }

    // @include response(phone){
    //     margin:.5rem 0;
    // }


}

.card-body{
    display:flex;
    align-items: center;
    padding: 0;
    background-image: linear-gradient(to right bottom,
    rgba($warm-light-color, 0.6),
    rgba($warm-medium-color, 0.6)),
    url('../images/jamie-taylor--9C3TMXwQjQ-unsplash.jpg');
    height:50rem;
    background-size: cover;
    z-index: 1000;

    @include response(tab-land){
        height: 50rem;
    }

    @include response(tab-port){
        height: 35rem;
    }

    @include response(phone){
        background-image: none;
        height: 20rem;
        margin-top: 3rem;
    }
    @include response(big-desktop){
        height: 60rem;
    }
}


.schedule-card{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #ffffff;
    border-radius: 1rem;
    padding: 4rem;
    font-size: 1.4rem;
    margin-left: 31rem;
    height: auto;

    @include response(tab-land){
        margin-left: 15rem;
        font-size: 1.4rem;
    }

    @include response(tab-port){
        margin-left: 15rem;
        font-size: 1.2rem;
        padding: 2rem;
    }

    @include response(phone){
        margin-left: 3rem;
        display: none;
    }

    @include response(big-desktop){
        // font-size: 2.4rem;

        margin-left: 20rem;
    }

}

.schedule-small-card{
    display:none;

    @include response(phone){
        display: flex;
        flex-direction: column;
        font-size: 2rem;
        margin-left: 8rem;
    }
    @include response(phone-mini){
        font-size: 2rem;
        margin-left: 3rem;
    }
}



