// COLORS
$grey-light:rgb(165, 162, 162);
$grey-medium:rgb(100, 97, 97);
$grey-dark:rgb(70, 68, 68);

$bg-color:#F3F6FA;
$font-color-dark:#052747;

$blue-main-color:#0059AF;
$blue-light-color:#d6e7f7;
$blue-medium-color:#d2dce6;

$warm-light-color:#f1eed8;
$warm-medium-color:#cecbb9;

$yellow-color:#FFD420;
$purple-color:#B70BBB;